.blockSponsor {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockSponsor img {
  width: 100%;
}
.footLine {
  width: 100vw;
  height: 1px;
  background-color: #ededed;
}
.copyright {
  display: block;
  margin: 25px 0;
  font: normal 400 13px/13px "Open Sans";
  color: #848484;
  text-align: center;
}